@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800;900&display=swap");
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  color: black;
  transition: 0.3s;
  font-family: "Inter";
}

img, svg {
  transition: 0.3s;
}

a:hover, button:hover {
  cursor: pointer;
  opacity: 0.6;
}

body {
  background-color: black;
  line-height: 1;
  background-color: #FFFFFF;
  padding-bottom: 20px;
}

.dnone {
  display: none;
}

a {
  text-decoration: none;
}

.container {
  width: 950px;
  margin: 0 auto;
}

.header {
  position: relative;
  z-index: 2;
  background: white;
}
.header .container {
  height: 100px;
  display: flex;
}
.header .container .logo {
  margin: auto 0;
}

.content {
  width: 100%;
  overflow: hidden;
  padding-bottom: 200px;
}
.content .container {
  display: flex;
  justify-content: space-between;
}
.content .container .images {
  width: 410px;
}
.content .container .images .img {
  height: 0px;
  width: 0px;
  position: relative;
}
.content .container .images .circle {
  left: -401px;
  top: -150px;
}
.content .container .images .phone {
  top: 0px;
  left: -139px;
}
.content .container .images .baseball {
  top: 63px;
  left: 280px;
}
.content .container .images .basketball {
  top: 331px;
  left: -251px;
}
.content .container .images .hockey {
  top: 534px;
  left: 276px;
}
.content .container .images .football {
  top: 576px;
  left: 801px;
}
.content .container .text {
  width: 540px;
}
.content .container .text .bonussum_and_bonustext {
  padding-top: 30px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.content .container .text .bonussum_and_bonustext .bonussum {
  font-weight: 900;
  font-size: 84.1025px;
  line-height: 102px;
  letter-spacing: -0.04em;
  color: #E80024;
}
.content .container .text .bonussum_and_bonustext .bonustext {
  margin: auto;
}
.content .container .text .bonussum_and_bonustext .bonustext .freebet {
  width: 210.29px;
  height: 39.86px;
  background: #E80024;
  border-radius: 100.755px;
  display: flex;
}
.content .container .text .bonussum_and_bonustext .bonustext .freebet p {
  font-weight: 800;
  font-size: 29.1656px;
  line-height: 35px;
  color: #FFFFFF;
  margin: auto;
}
.content .container .text .bonussum_and_bonustext .bonustext .zareg {
  font-weight: 700;
  font-size: 21.8742px;
  line-height: 26px;
  color: #000000;
}
.content .container .text .app {
  padding-left: 25px;
}
.content .container .text .app .app_header {
  margin-top: 20px;
  font-weight: 700;
  font-size: 29.0536px;
  line-height: 35px;
  color: #000000;
}
.content .container .text .app .app_desc {
  font-weight: 500;
  font-size: 18.3496px;
  line-height: 20px;
  color: #000000;
  margin-top: 25px;
}
.content .container .text .app .app_howto_install {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}
.content .container .text .app .app_howto_install .num {
  width: 15%;
  margin: auto;
  font-weight: 300;
  font-size: 48.9323px;
  line-height: 20px;
  color: #D42A28;
}
.content .container .text .app .app_howto_install .text {
  widows: 85%;
  margin: auto;
  font-weight: 500;
  font-size: 18.3496px;
  line-height: 20px;
  color: #000000;
}
.content .container .text .app .app_req {
  margin-top: 25px;
  font-weight: 400;
  font-size: 14.12px;
  line-height: 17px;
  color: #000000;
}
.content .container .text .app .app_install {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.content .container .text .app .app_install button {
  width: 246.75px;
  height: 60.86px;
  background: #E80024;
  border-radius: 117.883px;
  font-weight: 800;
  font-size: 34.1238px;
  line-height: 41px;
  color: #FFFFFF;
}